<div class="container mt-4">
    <!-- <div class="row justify-content-start">
        <div class="col-md-6 text">
            <h2>Attendance</h2>
        </div>
    </div> -->
    <div class="row justify-content-start">

        <div class="col-md-3">
            <div class="form-group">
                <label for="date">Date:</label>
                <div class="input-group">
                    <input id="date" class="form-control" type="text"
                        (ngModelChange)="onDateChange($event);getActivity();" bsDatepicker [(ngModel)]="selectedDate"
                        [maxDate]="maxDate" [bsConfig]="bsConfig" (change)="getDataByDateActivity()"
                        #dp="bsDatepicker" />
                    <span class="input-group-text" (click)="openDatepicker()"><i
                            class="material-icons">date_range</i></span>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="activity">Activity:</label>
                <select id="activity" class="form-control" [(ngModel)]="selectedActivity"
                    (change)="getDataByDateActivity()" (ngModelChange)="onSelectedActivityChange()">
                    <option value=0 selected>--select--</option>
                    <option *ngFor="let activity of activities" [value]="activity.activityAllocateId">{{ activity.name
                        }}
                        <ng-container *ngIf="activity.activityFor === 1"> (First Half)</ng-container>
                        <ng-container *ngIf="activity.activityFor === 2"> (Second Half)</ng-container>
                        <ng-container *ngIf="activity.activityFor !== 1 && activity.activityFor !== 2">
                            (Full Day)</ng-container>
                    </option>
                </select>
            </div>
        </div>
        <hr class="mt-3">
        <!-- <div class="container mt-4"> -->
        <div class="row justify-content-start">
            <div class="col-md-12">
                <div class="container" *ngIf="isPresents">
                    <div>
                        <!-- <h4>{{attendanceDetails | json}}</h4> -->
                        <div *ngIf="attendanceDetails.length > 0 && attendanceDetails[0]?.firstHalf.length > 0"
                            class="activity-details">
                            <span *ngIf="attendanceDetails[0]?.firstHalf[0]?.activityFor === '1'">
                                <b>Activity For: </b> First Half &nbsp;&nbsp; <b>Time: </b> {{
                                attendanceDetails[0]?.firstHalf[0]?.fromHours }} to {{
                                attendanceDetails[0]?.firstHalf[0]?.toHours }}
                            </span>
                            <span *ngIf="attendanceDetails[0]?.firstHalf[0]?.activityFor === '2'">
                                <b>Activity: </b> Second Half &nbsp;&nbsp; <b>Time: </b> {{
                                attendanceDetails[0]?.firstHalf[0]?.fromHours }} to {{
                                attendanceDetails[0]?.firstHalf[0]?.toHours }}
                            </span>
                            <span *ngIf="attendanceDetails[0]?.firstHalf[0]?.activityFor === '3'">
                                <b>Activity: </b> Full Day &nbsp;&nbsp; <b>Time: </b> {{
                                attendanceDetails[0]?.firstHalf[0]?.fromHours }} to {{
                                attendanceDetails[0]?.firstHalf[0]?.toHours }}
                            </span>
                            <div class="table-utilities float-end">
                                <span *ngIf="status === 'u'">
                                    <!-- <input type="text" value="{{status}}"> -->
                                    <button (click)="downloadPdfReport()" class="btn btn-icon export-btn"
                                        title="Download PDF">
                                        <i class="fas fa-file-pdf fa-lg pdf-icon"></i>
                                    </button>

                                    <button (click)="downloadExcelReport()" class="btn btn-icon export-btn"
                                        title="Download Excel">
                                        <i class="fas fa-file-excel fa-lg excel-icon"></i>
                                    </button>

                                </span>
                            </div>


                            <table>
                                <thead>
                                    <tr>
                                        <th>
                                            <input type="hidden" value={{uncheckCheckbox1}}>
                                            <input type="checkbox" class="form-check-input"
                                                [checked]="!uncheckCheckboxStatus[page - 1]"
                                                (change)="checkAllFirst($event)" />
                                            Sl No.
                                        </th>
                                        <th>Resource Code</th>
                                        <th> Resource Name </th>
                                        <th>Platform</th>
                                        <th>Designation</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- <tr *ngFor="let detail of attendanceDetails; let i = index"> -->
                                    <tr *ngFor="let detail of attendanceDetails | paginate :{
                                        itemsPerPage : tableSize,
                                        currentPage : page ,
                                        totalItems: count
                                        }; let i = index;">
                                        <td>
                                            <div *ngFor="let firstHalfObj of detail.firstHalf" class="form-check">
                                                <input type="checkbox" class="form-check-input"
                                                    [checked]="firstHalfObj.isPresent === '1'"
                                                    (change)="togglePresentValue(firstHalfObj)" />
                                                <label class="form-check-label">
                                                    {{ (page - 1) * tableSize + i + 1 }}
                                                </label>
                                                <input type="hidden" [value]="firstHalfObj.activityAllocateDetId">
                                                <input type="hidden" [value]="firstHalfObj.isPresent">
                                            </div>
                                        </td>
                                        <td>{{ detail.resourceCode }}</td>
                                        <td>
                                            {{ detail.resourceName }}
                                        </td>
                                        <td>{{ detail.domain }}</td>
                                        <td>{{ detail.designation }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="d-flex justify-content-end" id="pagination" *ngIf="attendanceDetails.length!=0">
                            <pagination-controls previousLabel="Prev" nextLabel="Next"
                                (pageChange)="getTableDataChange($event ,attendanceDetails)"></pagination-controls>
                        </div>
                        <!-- <div class="row justify-content-center mt-4" *ngIf="!isPresents">
                        <div class="col-md-6 text-center">
                            <p>Please Select Activity !</p>
                        </div>
                    </div> -->
                    </div>
                </div>

                <input type="hidden" value="{{isPresents}}">
                <div class="row justify-content-center mt-2" *ngIf="selectedActivity !== 0 && isPresents">
                    <div class="col-md-3 text-center">
                        <button type="button" class="btn btn-success" (click)="submitForm()" *ngIf="!dashboard">
                            {{ status === 's' ? 'Submit' : 'Update' }}
                        </button>
                    </div>
                </div>

                <!-- </div> -->
            </div>