<div class="wrapper">
    <nav id="sidebar">
        <div class="sidebar-header text-center">
            <!-- Add logo or branding -->
        </div>

        <ul class="list-unstyled components" id="menu">
            <!-- Dashboard -->
            <li>
                <a href="dashboard" class="nav-link">
                    <i class="fas fa-tachometer-alt"></i> Dashboard
                </a>
            </li>

            <!-- User Management -->
            <li>
                <a href="#submenu1" data-bs-toggle="collapse" class="nav-link dropdown align-middle dropdown-toggle sidebar-navlink">
                    <i class="fas fa-users"></i> User Management
                </a>
                <ul class="collapse" id="submenu1" data-bs-parent="#menu">
                    <li>
                        <a routerLink="/addUser" class="nav-link"><i class="fas fa-user-plus"></i> Add User</a>
                    </li>
                    <li>
                        <a routerLink="/viewUser" class="nav-link"><i class="fas fa-user"></i> View User</a>
                    </li>
                </ul>
            </li>

            <!-- Resource Management -->
            <li>
                <a href="#submenu2" data-bs-toggle="collapse" class="nav-link dropdown align-middle dropdown-toggle sidebar-navlink">
                    <i class="fas fa-cogs"></i> Resource Management
                </a>
                <ul class="collapse" id="submenu2" data-bs-parent="#menu">
                    <li>
                        <a routerLink="/uploadExcel" class="nav-link"><i class="fas fa-file-upload"></i> Upload Resource File</a>
                    </li>
                    <li>
                        <a routerLink="/talents" class="nav-link"><i class="fas fa-user-check"></i> View Resource List</a>
                    </li>
                </ul>
            </li>

            <!-- Activity Management -->
            <li>
                <a routerLink="/activity" class="nav-link"><i class="fas fa-tasks"></i> Activity Management</a>
            </li>

            <!-- Attendance Management -->
            <li>
                <a routerLink="/attendance" class="nav-link"><i class="fas fa-calendar-alt"></i> Attendance Management</a>
            </li>

            <!-- Assessment Management -->
            <li>
                <a href="#submenu3" data-bs-toggle="collapse" class="nav-link dropdown align-middle dropdown-toggle sidebar-navlink">
                    <i class="fas fa-clipboard"></i> Assessment Management
                </a>
                <ul class="collapse" id="submenu3" data-bs-parent="#menu">
                    <li>
                        <a routerLink="/addassessment" class="nav-link"><i class="fas fa-plus-circle"></i> Create Assessment</a>
                    </li>
                    <li>
                        <a routerLink="/viewasessment" class="nav-link"><i class="fas fa-eye"></i> View Assessment</a>
                    </li>
                </ul>
            </li>

            <!-- Email Activity -->
            <li>
                <a routerLink="/settings" class="nav-link"><i class="fas fa-envelope"></i> Email Activity</a>
            </li>

            <!-- Reports -->
           

            <li>
                <a href="#submenu4" data-bs-toggle="collapse" class="nav-link dropdown align-middle dropdown-toggle sidebar-navlink">
                    <i class="fas fa-chart-bar"></i> Reports 
                </a>
                <ul class="collapse" id="submenu4" data-bs-parent="#menu">
                    <li>
                        <a routerLink="/attendanceReport" class="nav-link"><i class="fas fa-plus-circle"></i>Attendance Report</a>
                    </li>
                    <li>
                        <a routerLink="/activityReport" class="nav-link"><i class="fas fa-eye"></i> Activity Report</a>
                    </li>

                    <li>
                        <a routerLink="/assessmentreport" class="nav-link"><i class="fas fa-eye"></i> Assessment Report</a>
                    </li>

                    
                </ul>
            </li>

            <!-- Disclaimer -->
            <li>
                <a routerLink="/disclaimer" class="nav-link"><i class="fas fa-exclamation-circle"></i> Disclaimer</a>
            </li>
        </ul>
    </nav>

    <div id="content">
        <router-outlet></router-outlet>
    </div>
</div>
