<div class="wrapper">
    <nav id="sidebar">
        <div class="sidebar-header text-center">
       
        </div>


        <ul class="list-unstyled components" id="menu" #sidebarMenu>
            <!-- Dashboard -->
            <li (click)="getListItem($event);">
                <a routerLink="/dashboard" class="nav-link">
                    <i class="fas fa-tachometer-alt"></i> Dashboard
                </a>
            </li>

            

            <!-- User Management -->
            <li>
                <a href="#submenu1" data-bs-toggle="collapse" class="nav-link dropdown align-middle dropdown-toggle sidebar-navlink">
                    <i class="fas fa-users"></i> User Management
                </a>
                <ul class="collapse" id="submenu1" data-bs-parent="#menu">
                    <li (click)="getListItem($event);" (click)="getReload()">
                        <a routerLink="/addUser" class="nav-link"><i class="fas fa-user-plus"></i> Add User</a>
                    </li>
                    <li (click)="getListItem($event);">
                        <a routerLink="/viewUser" class="nav-link"><i class="fas fa-user"></i> View User</a>
                    </li>
                </ul>
            </li>

            <!-- Resource Management -->
            <li>
                <a href="#submenu2" data-bs-toggle="collapse" class="nav-link dropdown align-middle dropdown-toggle sidebar-navlink">
                    <i class="fas fa-cogs"></i> Resource Management
                </a>
                <ul class="collapse" id="submenu2" data-bs-parent="#menu">
                    <li (click)="getListItem($event);">
                        <a routerLink="/uploadExcel" class="nav-link"><i class="fas fa-file-upload"></i> Resource Allocation </a>
                    </li>
                    <li (click)="getListItem($event);">
                        <a routerLink="/talents" class="nav-link"><i class="fas fa-user-check"></i> View Resources </a>
                    </li>

                    <li (click)="getListItem($event);">
                        <a routerLink="/resourceHistory" class="nav-link">
                            <i class="fas fa-user-check"></i> View Resource Log
                        </a>
                        
                    </li>
                </ul>
            </li>

            <!-- Platform Management -->
            <!-- <li>
                <a href="#submenu3" data-bs-toggle="collapse" class="nav-link dropdown align-middle dropdown-toggle sidebar-navlink">
                    <i class="fas fa-platform"></i> Platform Management
                </a>
                <ul class="collapse" id="submenu3" data-bs-parent="#menu">
                    <li (click)="getListItem($event);">
                        <a routerLink="/addPlatform" class="nav-link"><i class="fas fa-platform-plus"></i> Add Platform</a>
                    </li>
                    <li (click)="getListItem($event);">
                        <a routerLink="/viewPlatform" class="nav-link"><i class="fas fa-platform"></i> View Platform</a>
                    </li>
                </ul>
            </li> -->

             <!-- Activity Management -->
            <li>
                <a href="#submenu6" data-bs-toggle="collapse" class="nav-link dropdown align-middle dropdown-toggle sidebar-navlink">
                    <i class="fas fa-tasks"></i> Activity Management 
                </a>
                <ul class="collapse" id="submenu6" data-bs-parent="#menu">
                    <li (click)="getListItem($event);"  >
                        <a routerLink="/add" class="nav-link" ><i class="fas fa-user-tie"></i> Add Activity</a>
                    </li>
                    <li (click)="getListItem($event);">
                        <a routerLink="/activities" class="nav-link"><i class="fas fa-user-tie"></i> View Activity</a>
                    </li>
                    <li (click)="getListItem($event);">
                        <a routerLink="/bulk-allocation" class="nav-link"><i class="fas fa-users"></i> Activity Allocation</a>
                    </li>
                </ul>
            </li>


            <!-- <li>
                <a routerLink="/activity" class="nav-link"><i class="fas fa-tasks"></i> Activity Management</a>
            </li> -->

            <!-- Attendance Management -->
            <li (click)="getListItem($event);getReload();">
                <a routerLink="/takeAtten" class="nav-link"><i class="fas fa-calendar-alt"></i> Attendance Management</a>
            </li>

            <!-- Assessment Management -->
            <li>
                <a href="#submenu4" data-bs-toggle="collapse" class="nav-link dropdown align-middle dropdown-toggle sidebar-navlink">
                    <i class="fas fa-clipboard"></i> Assessment Management
                </a>
                <ul class="collapse" id="submenu4" data-bs-parent="#menu">
                    <li (click)="getListItem($event);">
                        <a routerLink="/addassessment" class="nav-link"><i class="fas fa-plus-circle"></i>Assessment Evaluation</a>
                    </li>
                    <li (click)="getListItem($event);">
                        <a routerLink="/viewasessment" class="nav-link"><i class="fas fa-eye"></i> View Assessment</a>
                    </li>
                </ul>
            </li>

            <!-- Email Activity -->
             <li (click)="getListItem($event);">
                <a routerLink="/mail" class="nav-link"><i class="fas fa-envelope"></i> Communication</a>
            </li>

            <!-- Reports -->
           

            <li>
                <a href="#submenu5" data-bs-toggle="collapse" class="nav-link dropdown align-middle dropdown-toggle sidebar-navlink">
                    <i class="fas fa-chart-bar"></i> Reports 
                </a>
                <ul class="collapse" id="submenu5" data-bs-parent="#menu">
                    <li (click)="getListItem($event);">
                        <a routerLink="/attendanceReportGen" class="nav-link"><i class="fas fa-eye"></i>Attendance Report</a>
                    </li>
                     <li (click)="getListItem($event);">
                        <a routerLink="/activitynewReport" class="nav-link"><i class="fas fa-eye"></i> Activity Report</a>
                    </li>

                    <li (click)="getListItem($event);">
                        <a routerLink="/assessmentreport" class="nav-link"><i class="fas fa-eye"></i> Assessment Report</a>
                    </li>
                    
                    <li (click)="getListItem($event);">
                        <a routerLink="/resourcereport" class="nav-link"><i class="fas fa-eye"></i> Resource Report</a>
                    </li>
                    
                </ul>
            </li>

          

            <!-- Disclaimer -->
            <li (click)="getListItem($event);">
                <a routerLink="/disclaimer" class="nav-link"><i class="fas fa-exclamation-circle"></i> Disclaimer</a>
            </li>
        </ul>
    </nav>

    <div id="content">
        <router-outlet></router-outlet>
    </div>
</div>
