.export-buttons {
    position: absolute;
    top: 0;
    left: auto;
    right: 0;
}

/* Badge styling */
.status-badge {
  display: inline-block;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: bold;
}


.status-active {
  color: #28a745;
}

.status-inactive {
  color: #dc3545;
}

  .export-buttons {
  margin-top: 20px;
}

.export-btn {
  margin-right: 10px;
}

.btn-medium {
  padding: 10px 20px;
  font-size: 14px;
}

.btn-light {
  background-color: #f8f9fa;
  color: #000;
  border-color: #dee2e6;
}

.btn-light:hover {
  background-color: #e2e6ea;
  color: #000;
}

.pdf-icon {
  color: #ff5733;
}

.excel-icon {
  color: #2e8b57; 
}

.button-container {
  display: flex;
}