
div{
    margin-top: 61px;
    margin-left: 15rem !important;
}
h1{
    
    text-align: left;
    color: rgb(0, 0, 0);
    min-height: 50px;
    background-color: rgb(180, 216, 252);
    font-size: 20px;
    padding-top: 10px;
    padding-left: 20px;
}