<div class="container">
  <h2>View Roles</h2>
  <div class="top-heading position-relative">
     <div class="export-buttons">
       <button  (click)="exportToPDF()" class="btn btn-icon export-btn" title="Download PDF">
         <i class="fas fa-file-pdf fa-lg pdf-icon"></i>
       </button>

       <button  (click)="exportToExcel()" class="btn btn-icon export-btn" title="Download Excel">
        <i class="fas fa-file-excel fa-lg excel-icon"></i>
      </button>
       
     </div>
 </div>
  <table class="custom-table">
    <thead>
      <tr>
        <th>Sl#</th>
        <th>Role Name</th>
        <th>Status</th>
        <th>Actions</th> 
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let role of roleList | paginate :{
        itemsPerPage : tableSize,
        currentPage : page ,
        totalItems: count
        }; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ role.roleName }}</td>
        <td>
          <span class="status-badge status-{{ role.deletedFlag ? 'inactive' : 'active' }}">
            {{ role.deletedFlag ? 'Inactive' : 'Active' }}
          </span>
        </td>
        <td>
          <button class="btn btn-primary btn-sm btn-space" (click)="editRole(role.roleId)">Edit</button>
          <button class="btn btn-danger btn-sm btn-space" (click)="deleteRole(role.roleId)">
            {{ role.deletedFlag ? 'Restore' : 'Inactive' }}
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="d-flex justify-content-end" id="pagination" *ngIf="roleList.length!=0">
    <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)= "getTableDataChange($event)"></pagination-controls>
  </div>
</div>
