<div class="container">
    <h2>Activity Allocation Form</h2>

    <div class="resource-info">
        <div class="row">
            <div class="col-sm-5">
                <label for="session">Resource name:</label>
                {{resource.resourceName}}
            </div>
            <div class="col-sm-5">
                <label for="session">Resource code:</label>
                {{resource.resourceCode}}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-5">
                <label for="session">Platform:</label>
                {{resource.platform}}
            </div>
            <div class="col-sm-5">
                <label for="session">Activity date:</label>
                {{selectedDate | date:'dd-MMM-yyyy'}}
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
    <div class="form-group col-md-6">
        <label for="session">Activity for: <span class="required">*</span></label>
        <select id="session" class="form-control" [(ngModel)]="selectedSession">
            <option value=0 selected>--select--</option>
            <option value="1">1st half</option>
            <option value="2">2nd half</option>
        </select>
    </div>

    <div class="form-group col-md-6">
        <label for="activity">Activity: <span class="required">*</span></label>
        <select id="activity" class="form-control"  (change)="onActivitySelect($event)">
            <option value=0 selected>--select--</option>
            <option *ngFor="let activity of activities" [value]="activity.activityId">
                {{activity.activityName}}
            </option>
        </select>
    </div>
    </div>
    <div class="row">
    <div class="form-group col-md-6">
        <label for="selectedActivityFrom">Activity from: <span class="required">*</span></label>
        <input type="time" class="form-control" [(ngModel)]="selectedActivityFrom">
    </div>

    <div class="form-group col-md-6">
        <label for="selectedActivityTo">Activity to: <span class="required">*</span></label>
        <input type="time" class="form-control" [(ngModel)]="selectedActivityTo">
    </div>
    </div>
    <div class="form-group col-md-6">
        <label for="selectedDetails">Activity Details: <span class="required">*</span></label>
        <textarea class="form-control" [(ngModel)]="selectedDetails"></textarea>
    </div>

    <button class="btn btn-primary mt-2" (click)="addMore()">Add more</button>

    <table class="table mt-3">
        <thead>
            <tr>
                <th>Session</th>
                <th>Training</th>
                <th>Activity from</th>
                <th>Activity to</th>
                <th>Details</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let dynamic of dynamicArray; let i = index;">    
                <td>{{ dynamic.activityFor }}</td>
                <td>{{ dynamic.activity.activityName }}</td>
                <td>{{ dynamic.fromHours }}</td>
                <td>{{ dynamic.toHours }}</td>
                <td><button class="btn btn-danger" (click)="removeRow($event,i)">Remove</button></td>
            </tr>
        </tbody>
    </table>

    <button class="btn btn-success" (click)="submitForm()">Submit</button>
</div>
