
<div class="container-fluid">
    <div class="row">

        <div class="col-md-3">
            <div class="form-group">
                <label for="dateRange">Activity Session:<span>*</span></label>
                <select id="dateRange" class="form-control" [(ngModel)]="selectedDateRange" (ngModelChange)="onDateChange()">
                    <option *ngFor="let range of dateRanges" [ngValue]="range">{{ range }}</option>
                </select>
            </div>
        </div>
   
        <div class="col-md-3" [hidden]="isHidden">
          <div class="form-group">
                <label for="fromDate">From Date:<span>*</span></label>
                 <input type="text" id="fromDate" class="form-control" [(ngModel)]="fromDate" bsDatepicker [bsConfig]="bsConfig">
          </div>
      </div>

      <div class="col-md-3" [hidden]="isHidden">
        <div class="form-group">
            <label for="toDate">To Date:<span>*</span></label>
            <input type="text" id="toDate" class="form-control" [(ngModel)]="toDate" bsDatepicker [bsConfig]="bsConfig">
        </div>
    </div>

    <div class="col-md-3" >
        <div class="form-group">
            <label for="activity">Activity:<span>*</span></label>
            <select id="activity" class="form-control" [(ngModel)]="selectedActivity" (ngModelChange)="validateAndGetDetails()">
                <option value="" select="selected">Select</option>
                <option *ngFor="let activity of activities" [value]="activity[0]">{{ activity[1] }}</option>
            </select>
        </div>
    </div>

    <hr class="mt-3">
    <div class="row" *ngIf="detailsRetrieved">
        <div class="col-md-3">
            <div class="form-group">
                <label for="assessmentDate">Assessment Date:<span class="required">*</span></label>
                <div class="input-group">
                    <input type="text" id="assessmentDate" class="form-control" [(ngModel)]="assessmentDate" bsDatepicker [bsConfig]="bsConfig" autocomplete="off" #dp="bsDatepicker">
                    <span class="input-group-text" (click)="openDatepicker()"><i class="material-icons">date_range</i></span>
                </div>    
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group" *ngIf="status==='u'">
                <label for="totalMark">Total Marks:<span class="required">*</span></label>
                <input type="number" class="form-control" [(ngModel)]="totalMarks" (input)="validTotalMark()" disabled="disabled">  
            </div>
            <div class="form-group" *ngIf="status==='s'">
                <label for="totalMark">Total Marks:<span class="required">*</span></label>
                <input type="number" class="form-control" [(ngModel)]="totalMarks" (input)="validTotalMark()">  
            </div>
        </div>


        <div class="col-md-3">
            <div class="form-group" *ngIf="status==='u'">
                <label for="hour">Hour:<span class="required">*</span></label>
                <input type="number" class="form-control" [(ngModel)]="hour" (keyup)="validHours()" disabled="disabled"> 
            </div>
            <div class="form-group" *ngIf="status==='s'">
                <label for="hour">Hour:<span class="required">*</span></label>
                <input type="number" class="form-control" [(ngModel)]="hour" (keyup)="validHours()"> 
            </div>
        </div>
    </div>

    <div class="row mt-3" *ngIf="assessments && assessments.length"  >
        <div class="col-md-12">
            <table>
                <thead>
                    <!-- <tr>
                        <th>Sl. No</th>
                        <th>Resource Code</th>
                        <th>Resource Name</th>
                        <th>Platform</th>
                        <th>Designation</th>
                        <th>Experience</th>
                        <th class="text-center">Activity Name</th>
                        <th class="col-md-6" style="width: 120px;">
                            Total Marks <input type="number" class="form-control" [(ngModel)]="totalMarks" (input)="updateAllTotalMarks()">
                        </th>
                        
                        <th class="col-md-6" style="width: 120px;">
                            Secured Marks <input type="number" class="form-control" [(ngModel)]="marks" (keyup)="updateMarks()">
                        </th>
                        <th style="width: 120px;"> Hour
                            <input type="number" class="form-control" [(ngModel)]="hour" (keyup)="updateHours()">
                        </th>
                        <th style="width: 300px;"> Remarks
                            <textarea class="form-control" [(ngModel)]="remarks"  maxlength="248" (input)="updateRemarks()"></textarea>
                        </th>
                    </tr> -->
                    <tr>
                        <th>Sl. No</th>
                        <th>Resource Code</th>
                        <th>Resource Name</th>
                        <th>Platform</th>
                        <th>Designation</th>
                        <th>Experience</th>
                        <th>Activity Name</th>
                        <!-- <th class="col-md-6" style="width: 120px;">
                            Total Marks <input type="number" class="form-control" [(ngModel)]="totalMarks" (input)="updateAllTotalMarks()">
                        </th> -->
                        
                        <th>Secured Marks</th>
                        <!-- <th style="width: 120px;"> Hour
                            <input type="number" class="form-control" [(ngModel)]="hour" (keyup)="updateHours()">
                        </th> -->
                        <th> Remarks</th>
                    </tr>
                </thead>
                
                <tbody>
                    <ng-container *ngFor="let assessment of assessments | paginate :{
                        itemsPerPage : tableSize,
                        currentPage : page ,
                        totalItems: count
                        }; let i = index;">                          
                      
                            <tr>
                                <td>{{ (page - 1) * tableSize + i + 1 }}</td>
                                <td >{{assessment[2] }}</td>
                                <td >{{assessment[3] }}</td>
                                <td >{{assessment[4]}}</td>
                                <td >{{assessment[5]}}</td>
                                <td >{{assessment[6]}}</td>
                                <td>{{ assessment[7]}}</td>
                                <!-- <td><input type="number" [(ngModel)]="assessment.totalMarks" class="form-control" ></td> -->
                                <td><input type="number" [(ngModel)]="assessment.marks" class="form-control" (keyup)="validateSecuredMarks(assessment)" #securedMarksInput></td>
                                <!-- <td><input type="number" [(ngModel)]="assessment.hour" class="form-control" (keyup)="updateHours()"></td> -->
                                <td>
                                    <textarea [(ngModel)]="assessment.remarks" class="form-control" maxlength="248"  #remark></textarea>
                                </td>
                                
                            </tr>
                       
            
                    </ng-container>
                </tbody>
                
            </table>
        </div>
       
            <div class="d-flex justify-content-end mt-2" id="pagination">
            <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)= "getTableDataChange($event ,assessments)"></pagination-controls>
          </div>

    </div>
<!-- Second Table Starts here -->
    <div class="row mt-3" *ngIf="assessmentsExist && assessmentsExist.length">
        <div class="col-md-12">
            <table>
                <thead>
                    <tr>
                        <th>Sl. No</th>
                        <th>Resource Code</th>
                        <th>Resource Name</th>
                        <th>Platform</th>
                        <th>Designation</th>
                        <th>Experience</th>
                        <th class="text-center">Activity Name</th>
                        <th class="col-md-6" style="width: 120px;"> Secured Marks </th>
                        <th style="width: 300px;">Remarks</th>
                    </tr>
                </thead>
                
                <tbody>
                    <ng-container *ngFor="let assessment of assessmentsExist | paginate :{
                        itemsPerPage : tableSize1,
                        currentPage : page1 ,
                        totalItems: count1
                        }; let i = index;">                          
                      
                            <tr>
                                <td>{{ (page1 - 1) * tableSize1 + i + 1 }}</td>
                                <td >{{assessment[2] }}</td>
                                <td >{{assessment[3] }}</td>
                                <td >{{assessment[4]}}</td>
                                <td >{{assessment[5]}}</td>
                                <td >{{assessment[6]}}</td>
                                <td>{{ assessment[7]}}</td>
                                <td><input type="number" [(ngModel)]="assessment[9]" class="form-control" (keyup)="validateSecuredMarks(assessment)">
                                </td>
                                <td>
                                    <textarea [(ngModel)]="assessment[12]" class="form-control" maxlength="248"></textarea>
                                </td>
                                
                            </tr>
                       
            
                    </ng-container>
                </tbody>
                
            </table>
        </div>

            <div class="d-flex justify-content-end mt-2" id="pagination">
            <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)= "getTableDataChange1($event,assessmentsExist)"></pagination-controls>
          </div>

    </div>

    <div class="row mt-3" *ngIf="detailsRetrieved">
        <div class="col-md-12 d-flex justify-content-center">
            <button class="btn btn-success space" (click)="submitAssessments()">
                {{ status === 's' ? 'Submit' : 'Update' }}</button>
            <button class="btn btn-danger" (click)="confirmReset()" *ngIf="status==='s'">Reset</button>

            <button class="btn btn-warning" (click)="cancel()" *ngIf="status==='u'">Cancel</button>

        </div>
     

    <!-- Ends  here -->
  
    <div class="row mt-3">
        <div class="col-md-12">
            <ul>
                <li *ngFor="let allocation of activityAllocations">
                    {{ allocation.intActivityAllocateId }} - {{ allocation.dtmActivityDate }}
                </li>
            </ul>
        </div>
    </div>
</div>
