.bootstrap-wrapper {
    height: 100vh; /* Full viewport height */
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    margin-top: auto;
    background-image: url('../../../../assets/bg_login.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

  .full-width {
    width: 100%; /* Set input field width to 100% */
  }
  
  .mat-card-content {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally */
  }
  
  .mat-form-field {
    width: calc(100% - 32px); /* Adjust width of the input field */
  }
  .center-text {
    text-align: center;
  }
  
  