<div class="bootstrap-wrapper">
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <mat-card class="mat-elevation-z8;" style="height: 200px;width: 500px;">
          
            <mat-card-title class="center-text">Forgot your password ?</mat-card-title>
          <mat-card-content>
            <form (ngSubmit)="onSubmit()">
              <mat-form-field class="full-width">
                <mat-label>Email</mat-label>
                <input [(ngModel)]="email" type="email" name="email" matInput required>
              </mat-form-field>
              <div class="text-center">
                <button type="submit" mat-raised-button color="primary">Submit</button>
              </div>
              <div class="error-container" style="text-align: center">
                <div *ngIf="errorMessage" class="error-message" style="color: red; font-size: 18px;">{{ errorMessage }}</div>
              </div>
            </form>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
