<div class="container mt-4">
    <div class="row justify-content-start">
        <div class="col-md-6 text">
            <h2>Attendance</h2>
        </div>
    </div>
    <div class="row justify-content-start">
        <div class="col-md-3">
            <div class="form-group">
                <label for="date">Date:</label>
                <div class="input-group">
                    <input id="date" class="form-control" type="text" (ngModelChange)="onDateChange($event)"
                        bsDatepicker [(ngModel)]="selectedDate" [bsConfig]="bsConfig" />
                    <span class="input-group-text"><i class="material-icons">date_range</i></span>
                </div>
            </div>
        </div>
    </div>
    <div style="margin-top: 20px;"> 
    <mat-accordion *ngIf="attendanceDetails">
        <div *ngFor="let domain of getObjectKeys(attendanceDetails)">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{ domain }}
              </mat-panel-title>
            </mat-expansion-panel-header>
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Resource Name</th>
                  <th>Platform</th>
                  <th>
                    <!-- [checked]="!checkBoxFirst" -->
                    <input type="hidden" value={{uncheckCheckbox1}} >
                    <input type="checkbox" class="form-check-input" [checked]="!uncheckCheckbox1" [(ngModel)]="selectAllFirstHalfMap[domain]" (change)="selectAllFirstHalfChanged(domain)"/>
                    First Half
                  </th>
                  <th>
                    <!-- [checked]="!checkBoxSecond" -->
                    <input type="hidden" value={{uncheckCheckbox2}}>
                    <input type="checkbox" class="form-check-input" [checked]="!uncheckCheckbox2" [(ngModel)]="selectAllSecondHalfMap[domain]" (change)="selectAllSecondHalfChanged(domain)"  />
                    Second Half
                  </th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngFor="let resource of attendanceDetails[domain]">
                  <tr>
                    <td>{{ resource.resourceName }}</td>
                    <td>{{ resource.domain }}</td>
                  <td>
                    <div *ngFor="let firstHalfObj of resource.firstHalf" class="form-check">
                      <input type="checkbox" class="form-check-input" [checked]="firstHalfObj.isPresent === '1'"
                        (change)="togglePresentValue(firstHalfObj)" />
                      <label class="form-check-label">
                        {{ firstHalfObj.activityName }} ({{ firstHalfObj.activityDetails }}) <br />
                        Time: {{ firstHalfObj.fromHours }} to {{ firstHalfObj.toHours }}
                      </label>
                      <input type="hidden" [value]="firstHalfObj.activityAllocateDetId">
                      <input type="hidden" [value]="firstHalfObj.isPresent">
                    </div>
                  </td>
                  <td>
                    <div *ngFor="let secondHalfObj of resource.secondHalf" class="form-check">
                      <input type="checkbox" class="form-check-input" [checked]="secondHalfObj.isPresent === '1'"
                        (change)="togglePresentValue(secondHalfObj)" />
                      <label class="form-check-label">
                        {{ secondHalfObj.activityName }} ({{ secondHalfObj.activityDetails }}) <br />
                        Time: {{ secondHalfObj.fromHours }} to {{ secondHalfObj.toHours }}
                      </label>
                      <input type="hidden" [value]="secondHalfObj.activityAllocateDetId">
                      <input type="hidden" [value]="secondHalfObj.isPresent">
                    </div>
                  </td>
                
                  </tr>
                </ng-container>
              </tbody>
            </table>
          </mat-expansion-panel>
        </div>
      </mat-accordion>
      </div>
      <div class="row justify-content-center mt-4" *ngIf="!isPresents">
        <div class="col-md-6 text-center">
          <p>No activity plan scheduled for this date !</p>
        </div>
      </div>
      <div class="row justify-content-center mt-4" *ngIf="isPresents">
        <div class="col-md-3 text-center">
          <button type="button" class="btn btn-success" (click)="submitForm()">
            {{ status === 's' ? 'Save Attendance' : 'Update Attendance' }}
          </button>
        </div>
      </div>
</div>
