<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Activity Allocation</title>
  <link rel="stylesheet" href="allocation.component.css">
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <h1>Activity Allocation</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="form-group">
          <label for="platform">Platform <span class="required">*</span></label>
          <div class="input-group">
            <select id="platform" class="form-control" [(ngModel)]="platformId" (ngModelChange)="setDate()">
              <option value="0">All</option>
              <option *ngFor="let platform of platforms" [value]="platform.platformId">{{ platform.platform }}</option>
            </select>
          </div>
        </div>
      </div>
      <!-- <div class="col-md-3">
        <label for="activityDate">Activity Date <span class="required">*</span></label>
        <input type="date" id="activityDate" [(ngModel)]="activityDate" (change)="setDate()">
      </div> -->
      <div class="col-md-4">
        <div class="form-group">
          <label for="activityDate">Activity Date <span class="required">*</span></label>
          <div class="input-group">
            <input type="text" id="activityDate" [(ngModel)]="activityDate" class="bold-black" bsDatepicker [bsConfig]="bsConfig" autocomplete="off" (ngModelChange)="setDate()">
            <span class="input-group-text"><i class="material-icons">date_range</i></span>
          </div>
        </div>
      </div>
    </div>
    <table class="activity-table">
      <thead>
        <tr>
          <th rowspan="2">Resource Code</th>
          <th rowspan="2">Resource Name</th>
          <th rowspan="2">Platform</th>
          <th colspan="2">Activity Details</th>
          <th rowspan="2">Action</th>
        </tr>
        <tr>
          <th>1st half</th>
          <th>2nd half</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let resource of resources">
          <td>{{resource.resourceCode}}</td>
          <td>{{resource.resourceName}}</td>
          <td>{{resource.platform}}</td>
          <td>
            <div *ngIf="resource.isAllocatedActivity">
              <ul *ngFor="let detail of resource.activityAlloc.at(0).details">
                <li *ngIf="detail.activityFor==1">
                  {{detail.activity.activityName}} ({{detail.fromHours}}~{{detail.toHours}})
                </li>
              </ul>
            </div>
          </td>
          <td>
            <div *ngIf="resource.isAllocatedActivity">
              <ul *ngFor="let detail of resource.activityAlloc.at(0).details">
                <li *ngIf="detail.activityFor==2">
                  {{detail.activity.activityName}} ({{detail.fromHours}}~{{detail.toHours}})
                </li>
              </ul>
            </div>
          </td>
          <td>
            <button class="btn-secondary" *ngIf="resource.isAllocatedActivity==false" (click)="editDetails(resource.resourceId)">
              Add
            </button>
            <button class="btn-info" *ngIf="resource.isAllocatedActivity==true" (click)="editDetails(resource.resourceId)">Edit</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</body>
</html>
