<div class="bootstrap-wrapper">

  <div class="container mt-5">
  <div class="row">
  
      <div class="col-md-6 offset-md-3">
<mat-card class="mat-elevation-z8">
          <mat-card-header>
            <mat-card-title>Reset Password</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <form (ngSubmit)="onSubmit()" class="center-form">
              <mat-form-field class="full-width">
                <input matInput placeholder="New Password" type="text" [(ngModel)]="credentials.newpassword" name="newpassword" required>
              </mat-form-field>
              <br>
              <mat-form-field class="full-width">
                <input matInput placeholder="Confirm Password" type="password" [(ngModel)]="credentials.confirmpassword" name="confirmpassword" required>
              </mat-form-field>
              <div class="error-container" style="text-align: center">
                <div *ngIf="errorMessage" class="error-message" style="color: red;font-size: 18px;">{{ errorMessage }}</div>
                <div *ngIf="successmessage" class="error-message" style="color: red;font-size: 18px;">{{ successmessage }}</div>
              </div>
              <br>
              <button type="submit" mat-raised-button color="primary">Reset Password</button>
            </form>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
