.bootstrap-wrapper {
    margin-top: auto;
    height: 100vh; /* Full viewport height */
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    background-image: url('../../../../assets/bg_login.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }