<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row justify-content-center ">
            <div class="col-md-8">
                <div class="card horizontal-card textured-card">
                    <div class="row">
                        <!-- Left side: Static content -->
                        <div class="col-lg-6 static-content">
                            <div class="content-wrapper">
                                <h2>Welcome To Talent Management System</h2>
                                <p>Unlock your potential. Dive into our talent pool management system</p>
                            </div>
                        </div>
                        <!-- Right side: Login form -->
                        <div class="col-lg-6 white-background">
                            <div class="card-body">
                                <div class="text-center mb-4">
                                    <img class="img-fluid" style="width: 100px;" src="assets/login.png" alt="">
                                    <h1 class="mt-3">Login Here!!</h1>
                                </div>
                                <div class="error-container" style="text-align: center">
                                    <div *ngIf="errorMessage" class="error-message" style="color: red;">{{ errorMessage }}</div>
                                </div>
                                <form>
                                    <mat-form-field class="full-width">
                                        <mat-label>Username</mat-label>
                                        <input [(ngModel)]="credentials.username" required type="text" name="username" matInput class="input-with-hover">
                                    </mat-form-field>
                                    <mat-form-field class="full-width">
                                        <mat-label>Password</mat-label>
                                        <input [(ngModel)]="credentials.password" required [type]="hidePassword ? 'password' : 'text'" name="password" matInput class="input-with-hover"
                                        (keydown.enter)="$event.preventDefault()">
                                        <button mat-icon-button matSuffix (click)="togglePasswordVisibility()">
                                            <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                                        </button>
                                    </mat-form-field>
                                    <div class="container text-center">
                                        <button mat-raised-button color="primary" (click)="onSubmit()">Login</button>
                                    </div>
                                    <div class="container text-center mt-3">
                                        <a routerLink="/forgotPassword">Forgot Your Password?</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
