<div class="card-body">
  <div class="container d-flex justify-content-end mt-3">
    <div class="export-buttons">
      <button
        (click)="exportToPDF()"
        class="btn btn-icon export-btn"
        title="Download PDF"
      >
        <i class="fas fa-file-pdf fa-lg pdf-icon"></i>
      </button>

      <button
        (click)="exportToExcel()"
        class="btn btn-icon export-btn"
        title="Download Excel"
      >
        <i class="fas fa-file-excel fa-lg excel-icon"></i>
      </button>
    </div>
  </div>

  <div class="mt-2">
    <table>
      <thead>
        <tr>
          <th>SLNo.</th>
          <!-- <th>Activity RefNo</th> -->
          <th>Activity Name</th>
          <th>Activity Description</th>
          <th style="width: 200px">Activity Response Person1</th>
          <th style="width: 200px">Activity Response Person2</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="
            let activity of activities
              | paginate
                : {
                    itemsPerPage: pageSize,
                    currentPage: currentPage,
                    totalItems: totalElements
                  };
            let i = index
          "
          (click)="setActiveActivity(activity, i)"
        >
          <td>{{ (currentPage - 1) * pageSize + i + 1 }}</td>
          <!-- <td>{{ activity.activityRefNo }}</td> -->
          <td>{{ activity.activityName }}</td>
          <td>{{ activity.description }}</td>
          <td>{{ activity.responsPerson1 }}</td>
          <td>{{ activity.responsPerson2 }}</td>
          <td>
            <span *ngIf="!activity.deletedFlag">Active</span>
            <span *ngIf="activity.deletedFlag">Inactive</span>
          </td>
          <td>
            <div class="btn-group">
              <button class="m-1 btn btn-sm btn-primary" (click)="editActivity(activity.activityId)">
                <i class="fas fa-edit"></i>
              </button>
              </div>
              <div class="btn-group">
              <button *ngIf="!activity.deletedFlag" class="m-1 btn btn-sm btn-danger" (click)="toggleDeletedFlag(activity)">
                <i class="fa-solid fa-xmark"></i>
              </button>
              <button *ngIf="activity.deletedFlag" class="m-1 btn btn-sm btn-danger" (click)="toggleDeletedFlag(activity)">
                <i class="fa-solid fa-check"></i>
              </button>
            </div>
          </td>
        </tr>
        <tr *ngIf="activities.length === 0">
          <td colspan="7" class="text-center">
              <span id="lblMessage" class="no-content">No record(s) found</span>
          </td> 
      </tr>
      </tbody>
    </table>
    <div
      class="d-flex justify-content-end m-2"
      id="pagination"
      *ngIf="activities.length != 0"
    >
      <pagination-controls
        previousLabel="Prev"
        nextLabel="Next"
        (pageChange)="getTableDataChange($event)"
      ></pagination-controls>
    </div>
  </div>

  <!-- <div class="d-flex justify-content-end mt-2"  *ngIf="!activities" id="pagination">
    <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)= "getTableDataChange($event)"></pagination-controls>
  </div> -->
</div>
