.list {
  text-align: left;
  max-width: 750px;
  margin: auto;
}

.active {
  color: green;
}

.inactive {
  color: red;
}


.even-row {
  background-color: lightblue !important;
}

.odd-row {
  background-color: lightgray !important;
}

.pdf-icon {
  color: #ff5733; /* PDF icon color */
}

.excel-icon {
  color: #2e8b57; /* Excel icon color */
}

.card-body {
  margin: 30px auto; 
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}


