<div class="container mt-3">

  <form class="row g-3" [formGroup]="userViewForm">
   
   <h2 class="mt-4" style="text-align: center; background: #4eb7f3;">User Details</h2> <hr>
   <nav class="navbar navbar-expand-lg">
    <div class="container">
       
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="nav nav-tabs nav-pills custum-tab">
            <li class="nav-item"><a class="nav-item nav-link" href="addUser">Add</a></li>
            <li><a class="nav-item nav-link active" href="viewUser">View</a></li>
      
          </ul>
            
        </div>
    </div>
</nav>

  <table class="table table-primary table-striped mt-3">
      <thead>
       <tr>
         <th>Sl No</th>
         <th>User Full Name</th>
         <th>User Name</th>
         <th>Role</th>
         <th>Email</th>
         <th>Phone No</th>
         <th>Action</th>
  
       </tr>
      </thead>
      <tbody>
          <tr *ngFor="let user of userDetails; let i = index">
              <td>{{i+1}}</td>
              <td>{{user.userFullName}}</td>
              <td>{{user.userName}}</td>
              <td>{{user.roleName}}</td>
              <td>{{user.email}}</td>
              <td>{{user.email}}</td>
  
              <td>
                  <button class="btn btn-primary" (click)="editUser(user.userId);">Edit</button>&nbsp;
                  <button class="btn btn-danger" (click)="deleteUser(user.userId);">Delete</button>
                 
              </td>
           </tr> 
      </tbody>
    </table>
    <mat-paginator [length]="100"
            [pageSize]="10"
            [pageSizeOptions]="[5, 10, 25, 100]"
            aria-label="Select page">
    </mat-paginator>
  </form>
  </div>