<div class="container mt-3">

  <form class="row g-3" [formGroup]="userViewForm">
   
   <h1 class="mt-4" style="text-align: center;">User Details</h1> <hr>

  <table class="table table-striped mt-3">
      <thead style="background-color:rgb(156, 221, 241);">
       <tr>
         <th>Sl No</th>
         <th>User Full Name</th>
         <th>User Name</th>
         <th>Role</th>
         <th>Email</th>
         <th>Phone No</th>
         <th>Status</th>
         <th>Action</th>
  
       </tr>
      </thead>
      <tbody>
         
        <tr *ngFor="let user of userDetails | paginate :{
          itemsPerPage : tableSize,
          currentPage : page ,
          totalItems: count
          }; let i = index;">
              <td>{{i+1}}</td>
              <td>{{user.userFullName}}</td>
              <td>{{user.userName}}</td>
              <td>{{user.roleName}}</td>
              <td>{{user.email}}</td>
              <td>{{user.phoneNo}}</td>
              <td *ngIf="user.deletedFlag" id="toggleButton"><button class="btn btn-danger" (click)="deleteUser(user.userId,!user.deletedFlag);">InActive</button></td>
              
              <td *ngIf="!user.deletedFlag" id="toggleButton"><button class="btn btn-success" (click)="deleteUser(user.userId,!user.deletedFlag);">Active</button></td>
              
              <td *ngIf="!user.deletedFlag"><button class="btn btn-primary" (click)="editUser(user.userId);">Edit</button>&nbsp;</td>
              <td *ngIf="user.deletedFlag"><button class="btn btn-primary" (click)="editUser(user.userId);" disabled>Edit</button>&nbsp;</td>
           </tr> 
           <tr *ngIf="!userDetails || userDetails.length === 0" >
            <td colspan="7" class="text-center">
                <span id="lblMessage" class="no-content">No record(s) found!</span>

            </td>
        </tr>
      </tbody>
    </table>
    <div class="d-flex justify-content-end" id="pagination" *ngIf="userDetails.length!=0">
      <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)= "getTableDataChange($event)"></pagination-controls>
    </div>
  </form>
  </div>