<!-- <h1>Add User</h1> -->
<div class="card-body">
<div class="container">

<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
 
  <div class="col-md-6">
    <div class="">
     <label for="validationDefault01" class="form-label">User Full Name :</label><span class="text-danger font-weight-bold">*</span>
    </div>
     <input type="text" class="form-control" id="userFullName" formControlName="userFullName" 
     (keypress)="preventSpace($event); preventNumbers($event); preventSpecialChars($event)"/>
     <!-- <div *ngIf="userForm.get('userFullName')?.invalid && userForm.get('userFullName')?.touched">
       <p class="text-danger">Please enter the user full name.</p>
     </div> -->
   
  </div>

  <div class="col-md-6 mt-2">
    <label for="validationDefault01" class="form-label">User Name :</label><span class="text-danger font-weight-bold">*</span>

    <input type="text" class="form-control" name="userName" id="userName" formControlName="userName" (keyup)="checkDuplicateValue($event);" (keydown)="preventSpaces($event);"/>
    <!-- <div *ngIf="userForm.get('userName')?.invalid && userForm.get('userName')?.touched">
      <p class="text-danger">Please enter the user name.</p>
    </div> -->
   
  </div>

  <div class="col-md-6 mt-2">
    <label for="validationDefault02" class="form-label">Role :</label><span class="text-danger font-weight-bold">*</span>

    <select class="form-select" id="roleId"  formControlName="roleId">
      <option value=""> Select Role </option>
      <option *ngFor="let role of roleDetails" value="{{role.roleId}}">{{role.roleName}}</option>
      <!-- <div *ngIf="userForm.get('roleId')?.invalid && userForm.get('roleId')?.touched">
        <p class="text-danger font-weight-bold">Please select role name.</p>
     </div> -->
    </select>
  </div>

  <div class="col-md-6 mt-2">
    <label for="validationDefault03" class="form-label">Mobile No. :</label><span class="text-danger font-weight-bold">*</span>

    <input type="number" class="form-control" name="phoneNo" id="phoneNo" formControlName="phoneNo" (keyup)="checkDuplicateValue($event);" (keydown)="preventSpaces($event);"  (keydown)="preventMaxNo($event);"/>
     <!-- <div *ngIf="userForm.get('phoneNo')?.hasError('pattern')">
      <p class="text-danger font-weight-bold">Please enter valid mobile No.(eg: maxlength & minlength should be 10)</p>
    </div> -->
    
  </div>

  <div class="col-md-6 mt-2">
    <label for="validationDefault04" class="form-label">Email :</label><span class="text-danger font-weight-bold">*</span>

    <input type="email" class="form-control" name="email" id="email" formControlName="email" (keyup)="checkDuplicateValue($event)"/>
     <!-- <div *ngIf="userForm.get('email')?.invalid && userForm.get('email')?.touched">
      <p class="text-danger font-weight-bold">Please enter a valid email.(eg:abc123@gmail.com)</p>
   </div>  -->
    
  </div>

<div>
  <div class="gap-2 col-3 mx-auto mt-3" *ngIf="userId === 0">
    <button class="btn btn-success" type="submit">Submit</button> &nbsp;&nbsp;

    <button class="btn btn-danger" type="reset"> Reset </button>
  </div>

   <div class="gap-2 col-3 mx-auto mt-3" *ngIf="userId > 0">
    <button class="btn btn-success" type="submit">Update</button> &nbsp;&nbsp;

    <button class="btn btn-warning" type="button" (click)="cancelData()"> Cancel </button>
  </div>
</div>
</form>
</div>
</div>