
<div class="dashboard">
  <div class="card-container">
    <!-- Card 1 -->
    <mat-card class="card">
      <mat-card-header>
        <div mat-card-avatar class="card-avatar"></div>
        <mat-card-title>Resources</mat-card-title>
      </mat-card-header>
      <div *ngIf="resources==null" >   <!--class="no-message-res"-->
        <p style="font-weight: bold; text-align: center;font-size: 18px;">Resources has not been allocated.</p>
        </div>
        <div *ngIf="resources!=null">
      <mat-card-content>
        <!-- <p>Last Allocation Date: {{allocationDate}}</p> -->

        <mat-form-field>
          <mat-select placeholder="Select Allocation Date" [(ngModel)]="alDate" (ngModelChange)="sendDate($event)" style="margin-top: 5px; margin-right: 8px;">
            <mat-option *ngFor="let date of allocationDate" [value]="date">{{ date }}</mat-option>
          </mat-select>
        </mat-form-field>
        
        
        
        
        <h4>Allocated Resources : {{resources}}</h4>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button color="primary" routerLink="/resourceHistory">View Details</button>
      </mat-card-actions>
    </div>
      
    </mat-card>

    <!-- Card 2 -->
    <mat-card class="card">
      <mat-card-header>
        <div mat-card-avatar class="card-avatar"></div>
        <mat-card-title>Activities</mat-card-title>
      </mat-card-header>
      <div *ngIf="ActivtiesPlanned==null" class="no-message">
        <p style="font-weight: bold; text-align: center;font-size: 18px;">Activities has not been allocated for the resources.</p>

      </div>
      <div *ngIf="ActivtiesPlanned!=null">
      <mat-card-content>
        
        <div class="row">
          <div  class="col-md-5">
          <mat-label style="font-size: 16px;" for="fromDate">From Date:</mat-label>
          <div class="input-group">
              <!-- <input type="text" id="fromDate" [(ngModel)]="fromDate" name="fromDate" class="bold-black" bsDatepicker [bsConfig]="bsConfig" (ngModelChange)="sendActivityPlanneddata()">
              <span class="input-group-text"><i class="material-icons">date_range</i></span> -->

              <mat-form-field>
                <input matInput type="text"  bsDatepicker [(ngModel)]="fromDate"
                            [maxDate]="maxDate" [bsConfig]="bsConfig"  (ngModelChange)="sendActivityPlanneddata()">
                <mat-icon matSuffix>date_range</mat-icon>
              </mat-form-field>
          </div>
          </div>
          <div  class="col-md-5">
          <mat-label style="font-size: 16px;" for="toDate">To Date:</mat-label>
          <div class="input-group">
              <!-- <input type="text" id="toDate" [(ngModel)]="toDate" name="fromDate" class="bold-black" bsDatepicker [bsConfig]="bsConfig" (ngModelChange)="sendActivityPlanneddata()">
              <span class="input-group-text"><i class="material-icons">date_range</i></span> -->

              <mat-form-field>
                <input matInput type="text"  bsDatepicker [(ngModel)]="toDate"
                            [maxDate]="maxDate" [bsConfig]="bsConfig"  (ngModelChange)="sendActivityPlanneddata()">
                <mat-icon matSuffix>date_range</mat-icon>
              </mat-form-field>
          </div>
        </div>
        <div  class="col-md-2">
          <br>
         <!-- <button class="btn btn-primary"  data-bs-toggle="modal" href="#detailsModal" (click)="onviewActivity();">VIEW</button> -->
        </div>
      </div>
      <br>
      <p style="font-weight: bold;">Total Activities Planned: {{ActivtiesPlanned}}</p>
     </mat-card-content>
     <mat-card-actions>
       
       <button mat-button color="primary" data-bs-toggle="modal" href="#detailsModal" (click)="onviewActivity();">View Details</button>
      </mat-card-actions>
    </div>
    </mat-card>

    <!-- Additional Cards -->
    <!-- Card 3 -->
    <mat-card class="card">
      <mat-card-header>
        <div mat-card-avatar class="card-avatar"></div>
        <mat-card-title>Attendance</mat-card-title>
      </mat-card-header>
      <div *ngIf="attendanceData==null" class="no-message">
        <p style="font-weight: bold; text-align: center;font-size: 18px;">Attendance not yet taken.</p>

      </div>
      <div *ngIf="attendanceData!=null">
      <mat-card-content>

        <!-- working -->
        <mat-form-field>
          <input matInput type="text"  bsDatepicker [(ngModel)]="atnDate"
                      [maxDate]="maxDate" [bsConfig]="bsConfig"  (ngModelChange)="getDateFromAttendanceDashboard($event)">
          <mat-icon matSuffix>date_range</mat-icon>
        </mat-form-field>

        <mat-card-actions>
          <button mat-button color="primary" data-bs-toggle="modal" href="#detailsModal1">View Details</button>

        </mat-card-actions>
      </mat-card-content>
    </div>
    </mat-card>

    <!-- Card 4 -->
    <mat-card class="card">
  <mat-card-header>
    <div mat-card-avatar class="card-avatar"></div>
    <mat-card-title>Assessments</mat-card-title>
  </mat-card-header>
  <div *ngIf="assessmentDateArr==null" class="no-message">
    <p style="font-weight: bold; text-align: center;font-size: 18px;">Assessment has not been done for the resources.</p>
  </div>   
  <div *ngIf="assessmentDateArr!=null"> 
    <mat-card-content class="card-content">
      <label style="font-size: 16px;">Assessment Date:</label>
      <br>
      <mat-form-field appearance="fill">
        <mat-select [(ngModel)]="assessmentDate" id="assessmentDate">
          <mat-option *ngFor="let date of assessmentDateArr" [value]="date">
            {{ date | date:'dd-MMM-yyyy' }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button color="primary" (click)="redirectToViewAssessment(assessmentDate)">View Details</button>
    </mat-card-actions>
  </div>
</mat-card>

  </div>
  <!-- Modal For Activities Section of Dashboard -->
  <div class="modal fade" id="detailsModal" aria-hidden="true" aria-labelledby="detailsModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title">Activity Details From {{fromDate | date: 'dd-MMM-yyyy'}} to {{toDate | date: 'dd-MMM-yyyy'}}</h2>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
 
          
                <table style="font-weight: bold;">
                  <caption></caption>
                  <thead>
                    <tr>
                      <th>Sl. no</th>
                      <th>Activity Name</th>
                      <th>Activity For</th>
                      <th>Fromhours</th>
                      <th>Tohours</th>
                      <th>Period</th>
                      
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let atn of ActivityData ; let i=index" class="text-align-center">
                      <td>{{i+1}}</td>
                      <td>{{atn.activityName}}</td>
                      <td>{{atn.activityFor}}</td>
                      <td>{{atn.fromHours}}</td>
                      <td>{{atn.toHours}}</td>
                      <td>{{atn.activityFromDate | date: 'dd-MMM-yyyy'}} To {{atn.activitytoDate | date: 'dd-MMM-yyyy'}}</td>
                     <tr> 
                  </tbody>
                </table>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              </div>
        </div>
   
      </div>
    </div>
<!-- End -->

<!-- Modal For Attendance Section of Dashboard -->
<div class="modal " id="detailsModal1" aria-hidden="false" aria-labelledby="detailsModal1" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">Attendance Details of Date : {{atnDate | date: 'dd-MMM-yyyy'}}</h2>
        <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
      </div>
      <div class="modal-body">

        
        <div *ngIf="attendanceData && attendanceData.length > 0">
        <table style="font-weight: bold;">
          <caption></caption>
          <thead>
            <tr>
              <th>Sl No</th>
              <th>Activity Name</th>
              <th>Total</th>
              <th>Present</th>
              <th>Absent</th>
              <th>View Details</th>
            </tr>
          </thead>
          <tbody>
              <tr *ngFor="let atn of attendanceData; let i=index" class="text-align-center">
                <td>{{i + 1}}</td>
                <td>{{atn.activityName}}</td>
                <td>{{atn.total}}</td>
                <td>{{atn.presentCount}}</td>
                <td>{{atn.absentCount}}</td>
                <td><button mat-button color="primary" (click)="sendActivityNameandDate(atn.activityId, atnDate); closeModal()">View</button></td> 
                <!-- (click)="sendActivityNameandDate(atn.activityId, atnDate); closeModal()" -->
              </tr>
              
            </tbody>
          </table>
        </div>
        <tr *ngIf="!(attendanceData && attendanceData.length > 0)" class="text-align-center">
          <td colspan="12" style="font-weight: bold; border: none;">Attendance Not Yet Taken!</td>
        </tr>
        
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" >Close</button>
            </div>
      </div>
 
    </div>
<!-- End -->

    
</div>
