<div class="dashboard">
  <div class="card-container">
    <!-- Card 1 -->
    <mat-card class="card" style="background-color: #FF7F50;height: 250px;">
      <mat-card-header>
        <div mat-card-avatar class="image-resource"></div>
        <mat-card-title>Resources</mat-card-title>
      </mat-card-header>
      <div *ngIf="resources==null">
        <p style="font-weight: bold; text-align: center; font-size: 18px;">Resources has not been allocated.</p>
      </div>
      <div *ngIf="resources!=null">
        <mat-card-content>
          <label style="font-size: 16px;">Allocation Dates:</label>
          <br>
          <mat-form-field class="smaller-select">
            <mat-select placeholder="Select Allocation Date" [(ngModel)]="alDate"
              (ngModelChange)="sendDateFromResource($event)">
              <mat-option *ngFor="let date of allocationDate" [value]="date">{{ date }}</mat-option>
            </mat-select>
          </mat-form-field><br>
          <label style="font-size: 16px;">Allocated Resources : {{resources}}</label>
          <mat-card-actions>
            <button mat-button color="primary" (click)="onViewResource();">View Details</button>
          </mat-card-actions>
        </mat-card-content>
      </div>
    </mat-card>


    <!-- Card 2 -->
    <mat-card class="card" style="background-color: #90EE90;height: 250px;">
      <mat-card-header>
        <div mat-card-avatar class="image-activities"></div>
        <mat-card-title>Activities</mat-card-title>
      </mat-card-header>
      <!-- <div *ngIf="ActivtiesPlanned!=null" >
        <p style="font-weight: bold; text-align: center;font-size: 18px;">Activities has not been allocated for the resources.</p>

      </div> -->
      <div>
        <mat-card-content>

          <div class="row">
            <div class="col-md-5">
              <mat-label style="font-size: 16px;" for="fromDate">From Date:</mat-label>
              <div class="input-group">
                <mat-form-field class="smaller-select">
                  <input matInput type="text" bsDatepicker [(ngModel)]="fromDate" [maxDate]="maxDate"
                    [bsConfig]="bsConfig" (ngModelChange)="sendActivityPlanneddata()" #dp="bsDatepicker">
                  <mat-icon (click)="openDatepicker()" matSuffix>date_range</mat-icon>
                </mat-form-field>
              </div>
            </div>
            <div class="col-md-5">
              <mat-label style="font-size: 16px;" for="toDate">To Date:</mat-label>
              <div class="input-group">
                <mat-form-field class="smaller-select">
                  <input matInput type="text" bsDatepicker [(ngModel)]="toDate" [maxDate]="maxDate"
                    [bsConfig]="bsConfig" (ngModelChange)="sendActivityPlanneddata()" #dp1="bsDatepicker">
                  <mat-icon (click)="openDatepicker1()" matSuffix>date_range</mat-icon>
                </mat-form-field>
              </div>
            </div>
          </div>
          <label style="font-size: 16px;">
            {{ ActivtiesPlanned ? 'Total Activities Planned: ' + ActivtiesPlanned : 'No activity plan on this date range.' }}
          </label>
          <!-- <input type="text" value="{{'a '+ActivtiesPlanned+' b'}}"> -->
          <!-- <input type="text" value="{{'a'+ActivtiesPlanned+'b'}} + {{ActivtiesPlanned!=null && ActivtiesPlanned !== 0}}"> -->
          <mat-card-actions>
            <ng-container *ngIf="ActivtiesPlanned!=0 && ActivtiesPlanned !==null">
              <button mat-button color="primary" data-bs-toggle="modal" href="#detailsModal"
                (click)="onviewActivity();">View Details</button>
            </ng-container>
            <!-- <ng-template #noActivity>
          <span>No Activity</span>
        </ng-template> -->
          </mat-card-actions>
        </mat-card-content>
      </div>
    </mat-card>

    <!-- Additional Cards -->
    <!-- Card 3 -->
    <mat-card class="card" style="background-color: #AFEEEE;height: 250px;">
      <mat-card-header>
        <div mat-card-avatar class="image-attendance"></div>
        <mat-card-title>Attendance</mat-card-title>
      </mat-card-header>
      <!-- <div *ngIf="attendanceData==null">
        <p style="font-weight: bold; text-align: center;font-size: 18px;">Attendance not yet taken.</p>

      </div> -->
      <div>
        <mat-card-content>

          <!-- working -->
          <label style="font-size: 16px;">Attendance Date:</label>
          <br>
          <mat-form-field class="smaller-select">
            <input matInput type="text" bsDatepicker [(ngModel)]="atnDate" [maxDate]="maxDate" [bsConfig]="bsConfig"
              (ngModelChange)="getDateFromAttendanceDashboard($event)">
            <mat-icon matSuffix>date_range</mat-icon>
          </mat-form-field>

          <mat-card-actions>
            <ng-container *ngIf="attendanceData && attendanceData.length > 0; else noAttendance">
              <button mat-button color="primary" data-bs-toggle="modal" href="#detailsModal1">View Details</button>
            </ng-container>
            <ng-template #noAttendance>
              <span>Attendance not been recorded on this date.</span>
            </ng-template>
          </mat-card-actions>
        </mat-card-content>
      </div>
    </mat-card>

    <!-- Card 4 -->
    <mat-card class="card" style="background-color: #F0E68C;height: 250px;">
      <mat-card-header>
        <div mat-card-avatar class="image-assessment"></div>
        <mat-card-title>Assessments</mat-card-title>
      </mat-card-header>
      <div *ngIf="assessmentDateArr==null">
        <p style="font-weight: bold;text-align: center;font-size: 18px;">Assessment has not been done for the resources.
        </p>
      </div>
      <div *ngIf="assessmentDateArr!=null">
        <mat-card-content class="card-content">
          <label style="font-size: 16px;">Assessment Date:</label>
          <br>
          <mat-form-field appearance="fill" class="smaller-select">
            <mat-select [(ngModel)]="assessmentDate" id="assessmentDate">
              <mat-option *ngFor="let date of assessmentDateArr" [value]="date">
                {{ date | date:'dd-MMM-yyyy' }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-card-actions>
            <button mat-button color="primary" (click)="redirectToViewAssessment(assessmentDate)">View Details</button>
          </mat-card-actions>
        </mat-card-content>
      </div>
    </mat-card>

  </div>
  <!-- Modal For Activities Section of Dashboard -->
  <div class="modal fade" id="detailsModal" aria-hidden="true" aria-labelledby="detailsModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title">Activity Details From {{fromDate | date: 'dd-MMM-yyyy'}} to {{toDate | date:
            'dd-MMM-yyyy'}}</h2>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">


          <table style="font-weight: bold;">
            <caption></caption>
            <thead>
              <tr>
                <th>Sl. no</th>
                <th>Activity Name</th>
                <th>Activity For</th>
                <th>Fromhours</th>
                <th>Tohours</th>
                <th>Period</th>

              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let atn of ActivityData ; let i=index" class="text-align-center">
                <td>{{i+1}}</td>
                <td>{{atn.activityName}}</td>
                <td>{{atn.activityFor}}</td>
                <td>{{atn.fromHours}}</td>
                <td>{{atn.toHours}}</td>
                <td>{{atn.activityFromDate | date: 'dd-MMM-yyyy'}} To {{atn.activitytoDate | date: 'dd-MMM-yyyy'}}</td>
              <tr>
            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>
  <!-- End -->

  <!-- Modal For Attendance Section of Dashboard -->
  <div class="modal " id="detailsModal1" aria-hidden="false" aria-labelledby="detailsModal1" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title">Attendance Details of Date : {{atnDate | date: 'dd-MMM-yyyy'}}</h2>
          <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
        </div>
        <div class="modal-body">


          <div *ngIf="attendanceData && attendanceData.length > 0">
            <table style="font-weight: bold;">
              <caption></caption>
              <thead>
                <tr>
                  <th>Sl No</th>
                  <th>Activity Name</th>
                  <th>Total</th>
                  <th>Present</th>
                  <th>Absent</th>
                  <th>View Details</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let atn of attendanceData; let i=index" class="text-align-center">
                  <td>{{i + 1}}</td>
                  <td>{{atn.activityName}}</td>
                  <td>{{atn.total}}</td>
                  <td>{{atn.presentCount}}</td>
                  <td>{{atn.absentCount}}</td>
                  <td><button mat-button color="primary"
                      (click)="sendActivityNameandDate(atn.activityId, atnDate); closeModal()">View</button></td>
                  <!-- (click)="sendActivityNameandDate(atn.activityId, atnDate); closeModal()" -->
                </tr>

              </tbody>
            </table>
          </div>
          <tr *ngIf="!(attendanceData && attendanceData.length > 0)" class="text-align-center">
            <td colspan="12" style="font-weight: bold;text-align: center; border: none;">Attendance Not Yet Taken!</td>
          </tr>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
    <!-- End -->


  </div>