<div>


  <div class="submit-form" *ngIf="!submitted">
    <div class="form-group">
      <label for="title">ActivityRef Number:</label>
      <input
        type="text"
        class="form-control"
        id="title"
        required
        [(ngModel)]="activity.activityRefNo"
        name="title"
      />
    </div>

    <div class="form-group">
      <label for="description">Activity Name:</label>
      <input
        class="form-control"
        id="description"
        required
        [(ngModel)]="activity.activityName"
        name="description"
      />
    </div>

    <div class="form-group">
      <label for="description1">Activity Description:</label>
      <input
        class="form-control"
        id="description1"
        required
        [(ngModel)]="activity.description"
        name="description1"
      />
    </div>

    <div class="form-group">
      <label for="description2">Activity ResponsePerson1:</label>
      <input
        class="form-control"
        id="description2"
        required
        [(ngModel)]="activity.responsPerson1"
        name="description2"
      />
    </div>

    <div class="form-group">
      <label for="description3">Activity ResponsePerson2:</label>
      <input
        class="form-control"
        id="description3"
        required
        [(ngModel)]="activity.responsPerson2"
        name="description3"
      />
    </div>

    <div class="form-group">
      <label for="indicator">Enable Assessment:</label>
      <input type="checkbox" id="indicator" [(ngModel)]="activity.isAsesmentEnable" name="indicator">
    </div>

    <button (click)="saveTutorial()" class="btn btn-success">Submit</button>
  </div>

  <div *ngIf="submitted">
    <h4>Activity was submitted successfully!</h4>
    <button class="btn btn-success" (click)="newTutorial()">Add</button>
  </div>
</div>
