<div class="container">
    <div class="row justify-content-start maxscrn">
        <div class="col-md-12">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inputType" id="inputActivity" [(ngModel)]="inputType"
                    value="allocation" (change)="onInputTypeChange()">
                <label class="form-check-label" for="allocation">Allocation </label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inputType" id="inputAttendance"
                    [(ngModel)]="inputType" value="attendance" (change)="onInputTypeChange()">
                <label class="form-check-label" for="attendance">Attendance </label>
            </div>
            <!-- <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inputType" id="inputAssesment"
                    [(ngModel)]="inputType" value="assesment" (change)="onInputTypeChange()">
                <label class="form-check-label" for="assesment">Assesment</label>
            </div> -->
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="inputType" id="inputAttendance"
                  [(ngModel)]="inputType" value="other" (change)="onInputTypeChange()">
              <label class="form-check-label" for="attendance">Other </label>
          </div>
        </div>

        <div class="form-group mt-2" *ngIf="inputType === 'allocation'">
            <div class="row align-items-center">
                <div class="row align-items-center">
                <div class="col-md-3">
                    <label for="activity">Period: <span class="required">*</span></label>
                    <select id="activity" class="form-control" [(ngModel)]="selectedDateRange" (ngModelChange)="onDateChange()">
                        <option value='0' selected>--Select--</option>
                        <option *ngFor="let range of dateRanges" [ngValue]="range">{{ range }}</option>
                    </select>
                </div>
                <div class="col-md-9">
                    <button (click)="downloadExcelReport()"  class="btn btn-icon export-btn mb-2" title="Download Excel">
                        <i class="fas fa-file-excel fa-lg excel-icon"></i>
                    </button>
                </div>
                </div>
            </div>
            <hr class="mt-3">
        </div>
        <div class="form-group mt-2" *ngIf="inputType === 'attendance'">
            <div class="row">
            <div class="col-md-3">
            <div class="form-group">
                <label for="date">From Date: <span class="required">*</span></label>
                <div class="input-group">
                    <input id="date" class="form-control" type="text" autocomplete="off" [(ngModel)]="selectedFromDateAtten"   bsDatepicker
                        [bsConfig]="bsConfig" placeholder="Select date"  #dp="bsDatepicker"/>
                    <span class="input-group-text" (click)="openDatepicker()"><i class="material-icons">date_range</i></span>
                </div>
            </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="date">To Date: <span class="required">*</span></label>
                    <div class="input-group">
                        <input id="date" class="form-control" type="text" autocomplete="off" [(ngModel)]="selectedToDateAtten"  bsDatepicker
                            [bsConfig]="bsConfig" placeholder="Select date"  #dp1="bsDatepicker"/>
                        <span class="input-group-text" (click)="openDatepicker1()"><i class="material-icons">date_range</i></span>
                    </div>
                </div>
            </div>
            <div class="col-md-1">
                <button (click)="downloadExcelReportAttendance()" class="btn btn-icon export-btn mb-2" title="Download Excel">
                    <i class="fas fa-file-excel fa-lg excel-icon"></i>
                </button>
            </div>
        </div>
        <hr class="mt-3">
        </div>  
        <div class="form-group">
            <label for="mailIds" class="label">Send To:&nbsp;</label>
            <i *ngIf="inputType != 'allocation'"   data-bs-toggle="modal" class="fas fa-plus-circle" data-bs-target="#exampleModal1"></i>
            <!-- <input *ngIf="inputType != 'allocation'" type="button"  data-bs-toggle="modal" value="+" data-bs-target="#exampleModal1"> -->
            <textarea id="mailIds" name="mailIds" class="form-control" rows="3" [(ngModel)]="mailIds"  readonly></textarea>
          </div>
    
          <div class="form-group mt-2">
            <label for="cc"  class="label">CC: &nbsp;</label>
            <!-- <input type="button" class="btn btn-link" data-bs-toggle="modal" value="CC" data-bs-target="#exampleModal"> -->
            <i class="fas fa-plus-circle"  data-bs-toggle="modal" value="CC" data-bs-target="#exampleModal"></i>
            <textarea id="cc" name="cc" class="form-control" rows="3" [(ngModel)]="cc" readonly></textarea>
          </div>
    
          <div class="form-group mt-3">
            <label for="subject"  class="label">Subject:</label>
            <input type="text" id="subject" name="subject" class="form-control" [(ngModel)]="subject">
          </div>

         <div class="form-group mt-3">
            <label for="description"  class="label">Description:</label>
            <ckeditor [(ngModel)]="editorContent" id="editorId" [editor]="Editor" (change)="onEditorChange($event)"
            (ready)="onEditorReady($event)">       
            </ckeditor>   
          </div>
          
          <input type="file" class="mt-2" (change)="onFileSelected($event)" />
          


        <div class="row  mt-4">
            <div class="col-md-6">
                <button class="btn btn-primary btn-sm btn-square"  (click)="sendMail()">Send </button>
            </div>
        </div>

    </div>
</div>

<!-- MODAL -->
<div class="modal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- Add 'bg-transparent' class to make modal content background transparent -->
        <div class="modal-body">
          <div>
            <h5 class="mb-3 pb-2 border-bottom">CC Person Details</h5>

            <table id="ccTable">
              <thead>
                <tr>
                  <th>Select</th>
                  <!-- <th>Sl No</th> -->
                  <th>Mail</th>
                </tr>
              </thead>
              <tbody>
                 <tr *ngFor="let person of ccPerson; let i = index"> 
                    <td>
                        <input type="checkbox" id="checkbox{{ person.personId }}" [checked]="person.checked" (change)="onCheckboxChange($event, person)">
                    </td>
                  <!-- <td>{{ i+1 }}</td> -->
                  <td>{{person.personMail}}</td>
                 </tr> 
              </tbody>
            </table>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- Add 'bg-transparent' class to make modal content background transparent -->
        <div class="modal-body">
          <div>
            <h5 class="mb-3 pb-2 border-bottom">TO Person Details</h5>

            <table id="ccTable">
              <thead>
                <tr>
                  <th>Select</th>
                  <th>Mail</th>
                </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let person of toPerson; let i = index"> 
                    <td>
                        <input type="checkbox" id="checkbox{{ person.personId }}" [checked]="person.checked" (change)="onToCheckboxChange($event, person)">
                    </td>
                  <td>{{person.personMail}}</td>
                 </tr>  
              </tbody>
            </table>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>