<mat-toolbar color="primary" class="toolbar-container">
  <button mat-button>
    <div class="logo">
      <img src="assets/csm.png" alt="company logo">
      <div class="company-name">Talent Pool Management System</div>
    </div>
  </button>
  <div class="spacer"></div>
  
  <div *ngIf="authService.userLogIn" class="full-name">
    <div>Welcome, {{fullName}}</div>
  </div>
  <div style="font-size: 12px;">
       <div class="mt-5"> {{formattedDate}}</div>
       
      </div>
  <div *ngIf="authService.userLogIn">
    <mat-menu #userMenu="matMenu">
      <button mat-menu-item>{{userName}}</button>
      <button mat-menu-item routerLink="login" (click)="logout()">Logout</button>
    </mat-menu>
    <button mat-icon-button [matMenuTriggerFor]="userMenu">
      <mat-icon >account_circle</mat-icon>
    </button>
  </div>
</mat-toolbar>
