.toolbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(22, 130, 138) ;/* Transparent background */
  color: white; /* Change text color */
  padding: 10px 20px ; /* Add padding to the toolbar */
  box-shadow: 0 2px 4px rgba(165, 39, 39, 0.1); /* Add shadow for depth */
  
   position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* ensure the navbar is above other content */
  
  
 
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 100px; /* Set logo width */
  height: auto; /* Maintain aspect ratio */
  margin-right: 10px;
  
}

.company-name {
  font-size: 18px; /* Increase font size */
 
  color: white; /* Match text color */
}

.spacer {
  flex: 1;
}

button.mat-icon-button {
  margin-left: 10px;
  font-size: 18px; /* Increase font size */
  color: white; /* Match text color */
}

.mat-menu-item {
  min-width: 150px;
  padding: 12px; /* Increase padding */
  font-size: 16px; /* Increase font size */
  color: #333;
}

.mat-menu-item:hover {
  background-color: #f0f0f0;
  color: #103477; /* Change text color on hover */
}
.user-info {
  display: flex;
  align-items: center;
}

.date {
  font-size: 12px;
}

.full-name{
    margin-left: 200px;
}




