<div>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="activityName">Activity Name:<span class="required">*</span></label>
          <input type="text" class="form-control" autocomplete="off" id="activityName" [(ngModel)]="currentActivity.activityName" name="activityName" [disabled]="activityField">
        </div>
        <div class="form-group">
          <label for="ActivityDescription">Activity Description:<span class="required">*</span></label>
          <input type="text" class="form-control" id="ActivityDescription" [(ngModel)]="currentActivity.description" name="ActivityDescription">
        </div>
        <div class="form-group">
          <label for="ActivityResponsPerson1">Activity Response Person 1:<span class="required">*</span></label>
          <input type="text" class="form-control" id="ActivityResponsPerson1" [(ngModel)]="currentActivity.responsPerson1" name="ActivityResponsPerson1" disabled>
        </div>
        <div class="form-group">
          <label for="ActivityResponsPerson2">Activity Response Person 2:</label>
          <input type="text" class="form-control" id="ActivityResponsPerson2" [(ngModel)]="currentActivity.responsPerson2" name="ActivityResponsPerson2">
        </div>
        <div class="form-group">
          <label class="form-check-label" for="isAsesmentEnable">Applicable For Assessment : </label>
          <input type="checkbox" class="form-check-input m-1" id="isAsesmentEnable" [(ngModel)]="currentActivity.isAsesmentEnable" name="isAsesmentEnable" [checked]="currentActivity.isAsesmentEnable == 1"> &nbsp; &nbsp;
          <label class="form-check-label" for="isProjectEnable">Mark As Project : </label>
          <input type="checkbox" class="form-check-input m-1" id="isProjectEnable" [(ngModel)]="currentActivity.isProject" name="isProjectEnable" [checked]="currentActivity.isProject == 1">
        </div>
        <button class="btn btn-success" (click)="updateActivity()">Update</button>
        <button class="btn btn-warning m-2" (click)="cancelUpdate()">Cancel</button>
        <div *ngIf="message" class="mt-3">{{ message }}</div>
      </div>
    </div>
  </div>
</div>
