<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="container">
      <a href="#" class="navbar-brand">Manage Activity</a>
      <div class="navbar-nav mr-auto">
        <li class="nav-item">
          <a routerLink="/activities" class="nav-link">Activities</a>
        </li>
        <li class="nav-item">
          <a routerLink="/add" class="nav-link">Add</a>
        </li>
      </div>
    </div>
  </nav>

  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h4>Edit Activity</h4>
        <div class="form-group">
          <label for="activityRefNo">Activity Reference No:</label>
          <input type="text" class="form-control" id="activityRefNo" [(ngModel)]="currentActivity.activityRefNo" name="activityRefNo">
        </div>
        <div class="form-group">
          <label for="activityName">Activity Name:</label>
          <input type="text" class="form-control" id="activityName" [(ngModel)]="currentActivity.activityName" name="activityName">
        </div>
        <div class="form-group">
          <label for="ActivityDescription">Activity Description:</label>
          <input type="text" class="form-control" id="ActivityDescription" [(ngModel)]="currentActivity.description" name="ActivityDescription">
        </div>
        <div class="form-group">
          <label for="ActivityResponsPerson1">ActivityResponsPerson1:</label>
          <input type="text" class="form-control" id="ActivityResponsPerson1" [(ngModel)]="currentActivity.responsPerson1" name="ActivityResponsPerson1">
        </div>
        <div class="form-group">
          <label for="ActivityResponsPerson2">ActivityResponsPerson2:</label>
          <input type="text" class="form-control" id="ActivityResponsPerson2" [(ngModel)]="currentActivity.responsPerson2" name="ActivityResponsPerson2">
        </div>
        <!-- Add more input fields for other activity properties -->
        <button class="btn btn-primary" (click)="updateActivity()">Save Changes</button>
        <div *ngIf="message" class="mt-3">{{ message }}</div>
      </div>
    </div>
  </div>
</div>
