<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Upload</title>
    <link rel="stylesheet" href="file-upload.component.css">
</head>

<body>
    <div class="container">
        <h2>Upload File</h2>
        <div class="form-group">
            <label for="fileInput">Resource File:<span class="required">*</span></label>
            <input type="file" id="fileInput" (change)="onFileSelected($event)" accept=".xlsx">
        </div>
     
        <div class="form-group">
            <label for="allocationDate">Allocation Date:<span class="required">*</span></label>
            <div class="input-group">
                <input type="text" id="allocationDate" [(ngModel)]="allocationDate" name="allocationDate" class="bold-black" bsDatepicker [bsConfig]="bsConfig" #dp="bsDatepicker">
                <span class="input-group-text" (click)="openDatepicker()"><i class="material-icons">date_range</i></span>
            </div>
        </div>
        <div class="text-center ">
        <button (click)="onUpload()" [disabled]="isUploading" class="btn btn-success space">
            <span *ngIf="isUploading" class="spinner"></span>
            Upload 
        </button>
        <button (click)="downloadTemplate()" class="btn btn-primary space">
            Download Template
        </button>
    </div>
    </div>
</body>

</html>
