<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <h2>File Upload</h2>
    <link rel="stylesheet" href="file-upload.component.css">
</head>

<body>
    <div class="container">
        <h2>Upload File</h2>
        <div class="form-group">
            <label for="fileInput">Resource File :  </label>
            <input type="file" id="fileInput" (change)="onFileSelected($event)" accept=".xlsx">
        </div>
     
        <div class="form-group">
            <div class="input-group ">
            <label for="allocationDate">Allocation Date:</label>
            <input type="text" id="allocationDate" [(ngModel)]="allocationDate" name="allocationDate" class="bold-black" bsDatepicker [bsConfig]="bsConfig">
            <span class="input-group-text"><i class="material-icons">date_range</i></span>
            </div>
        </div>
        


        
        <button (click)="onUpload()" [disabled]="isUploading" class="upload-btn">
            <span *ngIf="isUploading" class="spinner"></span>
            Upload
        </button>
   
    </div>
</body>

</html>
