.page-title {
  margin-bottom: 20px;
}

.export-buttons {
  display: flex;
  justify-content: flex-end;
}

.export-btn {
  margin-left: 10px;
}

.pdf-icon {
  color: #ff5733; /* PDF icon color */
}

.excel-icon {
  color: #2e8b57; /* Excel icon color */
}


.assessment-table-container {
  background-color: #f9f9f9;
  border-radius: 5px;
  padding: 20px;
}

.table-responsive {
  margin-bottom: 20px;
}

/* Media query for small devices */
@media (max-width: 768px) {
  .export-buttons {
    justify-content: center;
  }
}
